<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="GET">
        <label> 
            Add meg a felhasználóneved: <br>
            <input type="text" name="nev">
        </label>
        <label> 
           <br> Add meg a életkorod: <br>
            <input type="number" name="eletkor">
        </label>
        <input type="submit" value="Feldolgoz">
    </form>

A megadott név: <%= nev %>

</body>
</html>